
<div class="downbar-outer">
    <hr>
    <div class="downbar">
        <div class="info">
            <div>
                <h3>Kontakta oss</h3>
                <p>friendsathome@gmail.com</p>
            </div>
    
            <div>
                <h3>Instagram</h3>
                <p>@friendsathome</p>
            </div>
    
            <div>
                <a href="{% url 'villkor' %}"><h3>Villkor</h3></a>
            </div>
        </div>
    
        <div class="company">
            <p>Friends At Home 2024</p>
        </div>
    </div>
</div>
