{% extends 'main.html' %}
{% block content %}

<div class="om">
    <div>
        <p>Friends at home startade som en hobby, hur kan man bli av med sladdkaoset? Istället för en halvdan lösning påkommen en molning söndag lades
            ambition och kärlek ned för att designa en funktionell såväl vacker lösning. Efter vidare utvevkling och ökat intresse
            för problemet förbättrades lösningarna och blev vad de är idag. En idé blev verklighet, och finns nu tillgänglig för resten av Sverige att njuta av. 
        </p>
    </div>
</div>
{% endblock content %}