{% extends 'main.html' %}

{% block content %}

<div class="hantering">
    <div>

        <p id="mitt">Stilrent, smart och smidigt</p>
        <p>Våra produkter är designade för att organisera och ge en estetisk touch till ditt rum.
            Du får ordning på all din elektronik, slut på sladdkaoset och förenar funktion med design!
        </p>


    </div>
    <div>
        <h1 id="mitt">Hur tar du hand om din produkt?</h1>
        <p>Våra produkter är gjorda i äkta trä
            inoljning av våra produkter är därför att rekommendera. Notera att produkterna alltid levereras ytbehandlade.
        </p>
        <p>
            Att olja in träprodukteer är en bra metod för att skydda träet, förlänga dess livslängd
            samt för att få det att se ut som nytt. Här är vår guide för detta:
        </p>
        <p>1. Välj en träolja som exempelvis linolja eller teakolja</p>
        <p>2. Förbered träytan genom att borsta bort eventuell smuts och gör den torr</p>
        <p>3. Använd en trasa eller pensel för att applicera oljan jämt över ytan, se till att använda handskar</p>
        <p>4. Låt oljan absorberas i träet enligt anvisningarna på oljepaketet. Applicera ett till lager om oljan absorberas snabbt</p>
        <p>5. Ta bort eventuell överskottsolja med en ren trasa eller papper för att undvika klibbiga ytor</p>
        <p>6. Njut av den naturliga skönheten!</p>

    </div>
</div>




{% endblock content %}