{% extends 'main.html' %}

{% block content %}

<div>
    <div class="Integritetspolicy">

        <div>
            <h3>Integritetspolicy</h3>
            <p>
                Din integritet är viktig för oss. Därför vill vi att du 
                känner till hur vi samlar och behandlar dina personuppgifter,
                vilket denna text syftar till.
            </p>
        </div>

        <div>
            <h4>Vem är ansvarig?</h4>
            <p>
                Friens At Home är ansvarig för hantering och insamling av personuppgifter.
            </p>
        </div>
        
        <div>
            <h4>Vad innefattar personuppgifter?</h4>
            <p>Personuppgifter är all slags information som direkt eller indirekt kan anknytas till dig.
                När du beställer varor från oss godkänner du att vi lagrar och använder dina personuppgifter
                enligt bestämmelser i detta dokument.
            </p>
        </div>

        <div>
            <h4>Hur samlar vi personuppgifter?</h4>
            <p>De flesta personuppgifter vi samlar in förser du oss med direkt. Insamling och behandling av data sker när du:</p>
            <p>- Registrerar dig hos oss i samband med köp</p>
            <p>- Använder vår webbplats via din webbläsares cookies</p>
            <p>- Kontaktar oss</p>
            
        </div>

        <div>
            <h4>Vem har tillgång till dina personuppgifter?</h4>
            <p>Vi kommer aldrig sälja dina uppgifter till en tredje part. De som har tillgång till din information är de
                leverantörer samt partners vi använder för att möjliggöra våra tjänster, redovisade kategorier nedan:
            </p>
            <p>- Leverantörer både inom och utom EU/ESS, såsom tillhandahåller exempelvis IT-tjänster,
                marknadsföringstjänster, hanterar kundserviceärenden eller utför betaltjänster och därmed förenliga tjänster.
            </p>
            <p>- Leverantörer av frakt- och betalningstjänster</p>
        </div>

        <div>
            <h4>Vi hanterar din parsonuppgifter när</h4>
            <p>1. När du besöker, handlar och registrerar dig på vår hemsida</p>
            <p>Vi samlar:</p>
            <p>- Ditt namn och dina kontaktuppgifter</p>
            <p>- Personuppgifter</p>
            <p>- IP-adress</p>
            <p>- Information om produkter som du har köpt eller beställt</p>
            <p>- Betalningsinformation</p>
            <p>För att:</p>
            <p>- Behandla din beställning och leverera det du har köpt</p>
            <p>- Hantera betalningar och skicka digitala kvitton</p>
            
            
            <h4>2. När du kontaktar oss för reklamation, ånger etcetra</h4>
            <p>Vi samlar:</p>
            <p>- Dina kontaktuppgifter</p>
            <p>- Handlingar som du bifogar</p>
            <p>- Information om produkter du köpt eller beställt</p>
            <p>- Information om din kontakt med oss</p>
            <p>För att:</p>
            <p>- Hantera och besvara dina ärenden, frågor och klagomål</p>
            <p>- Hantera din reklamation eller ånger</p>
            <p>- Granska och följa upp ärenden</p>
            <p>Personuppgifterna sparas den tid de behövs för vår service eller krävs enligt lag. 
                Betalningsinformation sparas i 7 år som bokföringslagen kräver.</p>

        </div>

        <div>
            <h4>Hur skyddas dina uppgifter?</h4>
            <p>Dessa aspekter speglar hur din information skyddas:</p>
            <p>- Brandväggar</p>
            <p>- Kryptering</p>
            <p>- Loggning</p>
            <p>- Lösenordsskydd</p>
        </div>

        <div>
            <h4>Dina rättigheter</h4>
            <p>Du har rättigheter enligt GDPR. För mer information kring dina rättigheter, kontakta integritetsskyddsmyndigheten.</p>
        </div>

        <div>
            <h4>Cookies</h4>
            <p>Vi använder oss inte av cookies</p>
        </div>

        <div>
            <h4>Hur kontaktar du oss?</h4>
            <p>Kontakta oss på vår mejl, friendsathome@gmail.com för mer frågor</p>
        </div>

    </div>



</div>
{% endblock content %}